{{>layouts/header}}
<table class="table">
    <thead>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Title</th>
        <th scope="col">content</th>
    </tr>
    </thead>
    <tbody>
    {{#articleList}} <!-- articleList에 있는 데이터 수 만큼 아래 코드를 반복 실행 -->
        <tr>
            <th>{{id}}</th>
            <td ><a href="/articles/{{id}}">{{title}}</a></td>
            <td>{{content}}</td>
        </tr>
    {{/articleList}}
    </tbody>
</table>
<a href="/articles/new">New Article</a>
{{>layouts/footer}}